global:
  scrape_interval: 15s
  evaluation_interval: 15s

  external_labels:
    monitor: 'codelab-monitor'

rule_files:
  - 'prometheus.rules.yml'

scrape_configs:
  - job_name: 'prometheus'
    scrape_interval: 5s
    static_configs:
      - targets: ['prometheus:9090']

  - job_name: 'node'
    scrape_interval: 5s
    static_configs:
      - targets: ['node-exporter-8080:9100', 'node-exporter-8081:9100']
        labels:
          group: 'production'
      - targets: ['node-exporter-8082:9100']
        labels:
          group: 'canary'

  - job_name: 'data-exporter'
    scrape_interval: 15s
    static_configs:
      - targets: ['data-exporter:8000']
